<br>
<br>
<div class="container text-center">
  <div class="row">
    <div class="col">
      <form [formGroup]="itemDetailsForm" (ngSubmit)="onSubmit()">
        <app-item-header [imgUrl]="menuItem.image" [name]="menuItem.name" [description]="menuItem.description"
          [category]="menuItem.category">
        </app-item-header>
        <app-item-amount [form]="itemDetailsForm" [amount]="menuItem.amount">
        </app-item-amount>
        <app-item-weight [form]="itemDetailsForm" [weight]="menuItem.weight"></app-item-weight>
        <app-item-side-dish [form]="itemDetailsForm" [sideDishes]="menuItem.sideDishes"></app-item-side-dish>
        <hr *ngIf="menuItem.ingredients.length > 0">
        <app-item-ingredient [form]="itemDetailsForm" [ingredients]="menuItem.ingredients"></app-item-ingredient>
        <hr *ngIf="menuItem.sauces.length > 0">
        <app-item-sauce [form]="itemDetailsForm" [sauces]="menuItem.sauces"></app-item-sauce>
        <hr *ngIf="menuItem.note != ''">
        <app-item-note [form]="itemDetailsForm" [note]="menuItem.note">
        </app-item-note>
        <div class="row mb-4">
          <div class="col-sm-3">
            <button type="submit" class="col-mb-4 btn btn-dark">{{ editMode ? 'Update shopping Cart' : 'Add to shopping cart'}}</button>
          </div>
          <div class="col-sm-3">
          </div>
          <div class="col-sm-3">
            <button type="button" class="col-mb-4 btn btn-dark" (click)="onBack()">Back</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
