<a style="cursor: pointer;" [routerLink]="[name]" routerLinkActive="active" class="list-group-item clearfix">
  <div class="container">
    <div class="row">
      <div class="col">
        <img [src]="menuItem.image"
          alt={{menuItem.name}} class="image-responsive" style="max-height: 100px;">
      </div>
      <div class="col">
        <div>
          <h4 class="list-group-item-heading text-center">{{menuItem.name}}</h4>
          <p class="list-group-item-text text-center">{{menuItem.price | currency:"ILS"}}</p>
        </div>
      </div>
    </div>
  </div>
</a>
