<form [formGroup]="form">
  <div class="row mb-4" *ngFor="let weightItem of weight">
    <label for="weight" class="col-sm-3 col-form-label">weight / pecies + {{ weightItem.price |currency:'ILS'}}
    </label>
    <div class="col-sm-4">
      <input type="number" class="form-control" id="weight" [min]="weightItem.grams" [max]="weightItem.grams*6" name="weight"
        [value]="weightItem.grams * weightItem.quantity" formArrayName="weight"
        (change)="onWeightChanged($event)">
    </div>
  </div>
</form>
