<div class="container wrapper">
  <div class="row">
    <div class="col-md-12">
      <div class="text-center">
        <img src="https://seeklogo.com/images/B/burger-take-away-logo-BC2585FC88-seeklogo.com.jpg" class="rounded"
          alt="S.K.B-Burger">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="text-center">
          <button class="btn btn-dark btn-lg" (click)="onOrderNow()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
          </svg> Order Now</button>
        </div>
      </div>
    </div>
  </div>
</div>
