<div class="row">
  <div class="col">
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <img [src]="[imgUrl]" class="img-fluid rounded-start image-responsive" [alt]="name"
            style="max-height: 150px;">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{ name }}</h5>
            <p class="card-text">{{ description }}</p>
            <p class="card-text text-danger" *ngIf="isAllowed(category)">*French Fries included.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
